.panelStyle {
    padding-bottom: 0px !important;
}

.settingsLabel {
    margin-bottom: 2px;
}

.settingsBox {
    width: 150px;
}

.settingsRadio {
    margin: -3px 0 -3px -7px;
    width: 150px;
}

.settingsRadioWithLongText{
	margin: -3px 0 -3px -7px;
}

.settingsRadio .sapMRbBLabel{
    padding-left: 2.95rem;
}

.settingsSwitch{
    margin-top: 1px;
    width: 150px;
}

.settingsHBox {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.settingsSelect {
    margin-top: 7px;
    height: 36px;
}

.settingsAdjust {
    margin: -3px 0 -3px -7px;
    width: 180px;
}