<html>
	<head>
		<title>QUnit TestSuite for sap.suite.ui.generic.template</title>
		<script type="text/javascript" src="../../../../../../../resources/sap/ui/qunit/qunit-redirect.js"></script>
	</head>
	<body>
		<script>

			/**
			 * Add test pages to this test suite function. jjj
			 * Please order alphabetically
			 */
			function suite() {
				var suite = new parent.jsUnitTestSuite(),
					contextPath = "/" + window.location.pathname.split("/")[1];

				//qunit @/js
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/js/AnnotationHelper.qunit.html");

				//qunit @/lib
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/NavigationController.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/TemplateComponent.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/TemplateViewControllerTest.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/CommonUtilsTest.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/CommonEventHandlersTest.qunit.html");
				//suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/CommonEventHandlers.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/lib/CRUDManager.qunit.html");

				//qunit @/internal
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/internal/exampleTest.qunit.html");
				//suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/internal/demokitErrTest.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/internal/mockFunctionsTest.qunit.html");

				//qunit @/ListReport
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/ListReport/Component.qunit.html");
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/ListReport/view/ListReportControllerTest.qunit.html");

				//qunit @/ObjectPage/view
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/ObjectPage/view/Details.controller.qunit.html");

                //qunit @/ObjectPage/controller
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/qunit/ObjectPage/controller/ControllerImplementationTest.qunit.html");

				//OPATests @/integrations/ManageProducts
				suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/integrations/ManageProducts/opaTestsProducts.qunit.html");
 				//Temporarily removed because of LazyLoad support
 				//suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/integrations/ManageProducts_new/ManageProductsOPA.qunit.html");

 				//OPATests @/integrations/ManageSalesOrder
				//suite.addTestPage(contextPath + "/test-resources/sap/suite/ui/generic/template/integrations/ManageSalesOrder/opaTestsSalesOrder.qunit.html");

				return suite;
			}

		</script>
	</body>
</html>
