body, .page {
	background: transparent !important;
}

body {
	height: auto !important;
	margin: 0 auto !important;
}

#d4h5-main-content, div.page.topic, div.page.concept, div.page.task {
	margin: 0 !important;
	padding: 0 !important;
}

.iframe-wrapper {
	padding: 0 !important;
}

pre.codeblock .emphasis {
	background-color: #fffcb5;
}

pre.codeblock.prettyprint {
	padding: 10px;
	line-height: 1.2em;
}

.caution {
	font-weight: inherit !important;
}

#footer-container {
	display: none !important;
}

tr {
	background: transparent !important;
}

li {
	margin-bottom: 1em;
	margin-top: 1em;
}

.section_title {
	color: rgba(0,0,0,0.7) !important;
	font-size: 1.375em !important;
}
